<%- include('../partials/header') %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to Campgrounds!</h1> 
            <p>Find your dream campground</p>
            <p>
                <a class="btn btn-primary btn-large" href="/campgrounds/new">Add a new campground</a>
            </p>
        </div>
    </header>

    <div class="row" style="display: flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-4 col-sm-6 col-lg-4 my-1" >
                <div class="card h-100">
                    <img class="card-img-top" src=" <%= campground.image %> ">
                    <div class="card-body">
                        <h5 class="card-title"> <%= campground.name %> </h5>
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary stretched-link">See more</a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<%- include('../partials/footer') %>